<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form action="/users/resetPassword" method="post" role="form">
        <h3>Reset Password</h3>
        <input name="resetLink" type="password" placeholder="Enter your token">
        <br>
        <input name="newPass" type="password" placeholder="Enter your new password">
        <br>
        <input name="confirmedPass" type="password" placeholder="Confirm your new password">
        <br>
        <button type="submit">Confirm</button>
    </form>
</body>
</html>